@using kierannoble.dev.Managers.Application
@inject IVersionManager __VersionManager;

@{
    string _Title = string.IsNullOrWhiteSpace((string)ViewData["title"]) ? "Kieran Noble" : $"{(string)ViewData["title"]!} - Kieran Noble";
    string _Project = (string)ViewData["Project"] ?? string.Empty;
}

<!DOCTYPE html>
<html lang="en" data-project="@_Project">
    <!-- Version: @__VersionManager.GetVersion() -->
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=0.75" />
        <link rel="icon" type="image/png" href="favicon.png" asp-append-version="true" />
        <link rel="preload" as="font" href="/fonts/fa-solid-900.woff2" crossorigin="anonymous" />
        <link rel="preload" as="font" href="/fonts/Lato-Bold.ttf" crossorigin="anonymous" />
        <link rel="preload" as="font" href="/fonts/Lato-Light.ttf" crossorigin="anonymous" />
        <link rel="preload" as="font" href="/fonts/Lato-Regular.ttf" crossorigin="anonymous" />
        <link rel="preload" as="font" href="/fonts/Brandon-Grotesque-Black.woff2" crossorigin="anonymous" />
        
        <meta name="description" content="Kieran Noble - Full Stack Developer Portfolio: Showcasing fast, user-friendly platforms and tools built with .NET and React. Contact Kieran at hi@kierannoble.dev" />
        
        <link rel="stylesheet" href="/css/site.min.css" asp-append-version="true" />
        
        <title>@_Title</title>
    </head>
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=0.75"/>
    <link rel="icon" type="image/png" href="favicon.png" asp-append-version="true"/>
    <link rel="preload" as="font" href="/fonts/fa-solid-900.woff2" crossorigin="anonymous"/>
    <link rel="preload" as="font" href="/fonts/Lato-Bold.ttf" crossorigin="anonymous"/>
    <link rel="preload" as="font" href="/fonts/Lato-Light.ttf" crossorigin="anonymous"/>
    <link rel="preload" as="font" href="/fonts/Lato-Regular.ttf" crossorigin="anonymous"/>
    <link rel="preload" as="font" href="/fonts/Brandon-Grotesque-Black.woff2" crossorigin="anonymous"/>

    <meta name="description"
          content="Kieran Noble - Full Stack Developer Portfolio: Showcasing fast, user-friendly platforms and tools built with .NET and React. Contact Kieran at hi@kierannoble.dev"/>

    <link rel="stylesheet" href="/css/site.min.css" asp-append-version="true"/>

    <title>@_Title</title>
</head>
<body>
<div class="blackout blackout--shown" id="blackout">
    <div class="loader"></div>
</div>
@RenderBody()
<div class="slideshow" id="slideshow">
    <div class="slideshow__image">
        <div class="slideshow__image-holder" id="slideshow-image-holder">
            <div class="loader"></div>
        </div>
    </div>
    <div class="slideshow__thumbnails">
        <div class="slideshow__thumbnails-holder" id="slideshow-thumbnails-holder"></div>
    </div>
    <div class="slideshow__button slideshow__button--close" id="slideshow-close" tabindex="0">
        <i class="fa fa-xmark"></i>
        <span class="sr-only">Close</span>
    </div>
    <div class="slideshow__button slideshow__button--previous" id="slideshow-previous" tabindex="0">
        <i class="fa fa-chevron-left"></i>
        <span class="sr-only">Previous</span>
    </div>
    <div class="slideshow__button slideshow__button--next" id="slideshow-next" tabindex="0">
        <i class="fa fa-chevron-right"></i>
        <span class="sr-only">Next</span>
    </div>
    <a href="" class="slideshow__button slideshow__button--download" id="slideshow-download" download tabindex="0">
        <i class="fa fa-download"></i>
        <span class="sr-only">Download</span>
    </a>
</div>
</body>

<script src="/js/site.min.js" asp-append-version="true"></script>
</html>